  <form action="/events/create" method="post">
    <label>name</label><input type="text" name="organizer_name"><br>
    <label>email</label><input type="text" name="organizer_email"><br>
    <label>title</label><textarea name="title"></textarea><br>
    <input type="date" name="date"><br>
    <input type="submit" value="save it!">
  </form>
