  <form action="/events" method="post">
    <label>name</label><input type="text" name="organizer_name" placeholder="what's your name" required autofocus><br>
    <label>email</label><input type="text" name="organizer_email" placeholder="what's your email" required><br>
    <label>title</label><textarea name="title" placeholder="describe your event" required></textarea><br>
    <input type="date" name="date" required><br>
    <input type="submit" value="save it!">
  </form>
